/* common stylrs */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F3F1FF;
}

.container {
    width: 870px;
    height: 679px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* plyers styles */
.section-title {
    color: #562EFF;
    font-size: 24px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* -------------------blog styles ----------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;

}

.blog {
    display: flex;
}

.thumbnail img {
    width: 177px;
    padding-right: 16px;
}

.blog-title {
    font-size: 18px;
}

.blog-author {
    color: #9F9F9F;
}

/* ------------------- lates courses -------------------- */
.course-banner img {
    height: 104px;
    width: 224px;
}

.course-author {
    color: #ED6B4F;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-solid {
    color: #FFC014;
}

.filled {
    color: #AEAEAE;
}

.course-duration {
    background-color: #FFE4E8;
    width: 94px;
    height: 29px;
    border-radius: 25px;
    text-align: center;
    color: #FF4A60;
}